/** General **/
body {
    text-align: center;
    padding-top: 40px;
    background-color: #79589F;
    color: #a996c0;
}

table {
    text-align: left;
    font-size: 36px;
    color: #f7f3fb;
}

    .td-left {
        text-align: left;
    }
    .td-right {
        text-align: right;
    }

.btn-stack {
    margin-top: 20px;
}

.btn-default {border: none;}

.btn-default {color: #f7f3fb; background-color: #a996c0; border: none;}
.btn-default:hover, .btn-default:active:focus, .btn-default:focus {color: #f7f3fb; background-color: #534A93;}

.btn-primary {background-color: #a996c0; border: none;}
.btn-primary:hover, .btn-primary:active:focus, .btn-primary:focus {background-color: #534A93;}

.btn-success {background-color: #74c080; border: none;}
.btn-success:hover, .btn-success:active:focus, .btn-success:focus {background-color: #aad8b3;}

.btn-info {background-color: #534A93;}
.btn-warning {background-color: #FA9F47;}
.btn-danger {background-color: #D64242;}

/** Host display **/
.title {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #a996c0;
}

.title-prompt {
    font-size: 26px;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #a996c0;
}

.large-code {
    font-size: 48px;
    font-weight: bold;
    color: #f7f3fb;
}

.sidebar {
    margin-top: 80px;
    padding: 20px;
    background-color: #a996c0;
    border-radius: 10px;
}

.title-sidebar {
    font-size: 18px;
    color: #79589F;
}

.sidebar-player {
    font-size: 26px;
    font-weight: bold;
    color: #f7f3fb;
}

.countdown-label {
    font-size: 26px;
    padding: 10px 20px;
    background-color: #a996c0;
    color: #f7f3fb;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
}

.prompt {
    font-size: 36px;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #f7f3fb;
}

.prompt-small {
    font-size: 26px;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #f7f3fb;
}


/** Player display **/
.player-prompt {
    font-size: 26px;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #f7f3fb;
}

.answer-row {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

label {
    font-size: 26px;
}

.form-control {
    font-size: 26px;
    height: 50px;
}

.btnAnswer {
    font-size: 36px;
    white-space: normal; /* word wrap for long answers */
}

input {
    text-transform: uppercase;
}